<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="post">
    <input type="text" name="text" placeholder="Введите сообщение">
    <input type="text" name="tag" placeholder="Тэг">
    <button type="submit">Добавить</button>
</form>
<table>
    <thead>
    <tr>
        <th>Список сообщений</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
        <td th:text="${message.getId()}">Id</td>
        <td th:text="${message.getText()}">Text</td>
        <td th:text="${message.getTag()}">Tag</td>
    </tr>
    </tbody>
</table>
</body>
</html>